---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Contact - Jason Acquah">
  <div class="min-h-screen bg-background">
    <Contact />
  </div>
  <Footer />
</Layout>
